<nav class="navbar navbar-expand-lg outer-header">
    <div class="container">
        <a class="" routerLink="#"><img src="asset/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-3 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pricing-plans">Pricing Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signin">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>